/* Conservez ces lignes de css */

@import url("https://web3.tim-momo.com/carre/styles.css");

.back {
  aspect-ratio: 5 / 7;
}

.carte {
  aspect-ratio: 5 / 7;
}

:root{
  --bg-danger: rgb(255, 0, 0);
}

flip{
  transform: rotateY(180deg);

}

.col-3{
  aspect-ratio: 1/3/1
}
